<a href="https://www.kaggle.com/code/antonasnitsky/nyc-property-sales-eda?scriptVersionId=109109883" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sbs

df = pd.read_csv('/kaggle/input/nyc-property-sales/nyc-rolling-sales.csv')

df.head()

In [ ]:
# 1 Clean data
# 2. Scutter plots and heatmap
# 3. Display interesting dependencies between corralting dimentions
# Sle date device to t

clean_df = df.drop(['Unnamed: 0', 'LOT', 'EASE-MENT', 'ADDRESS','APARTMENT NUMBER','ZIP CODE'], axis=1)

clean_df.info()

In [ ]:
sum(clean_df.duplicated())

In [ ]:

clean_df = clean_df.drop_duplicates()
sum(clean_df.duplicated())

In [ ]:
clean_df.replace(' -  ', 0,  inplace=True)
clean_df

In [ ]:
clean_df.replace(np.nan,0, inplace=True)
clean_df

In [ ]:
clean_df['BOROUGH_NAME'] = clean_df['BOROUGH'].astype(str)
clean_df['BOROUGH_NAME'].replace({'1':'Manhattan','2':'Bronx','3':'Brooklyn','4':'Queens','5':'Staten Island'},inplace=True)


clean_df['SALE_PRICE_IN_K'] = clean_df['SALE PRICE'].astype(np.float64) / 1000
clean_df['SALE_PRICE_IN_M'] = clean_df['SALE PRICE'].astype(np.float64) / 1000000


clean_df['SALE DATE'] = pd.to_datetime(clean_df['SALE DATE'])
clean_df['SALE_MONTH']= clean_df['SALE DATE'].dt.month

clean_df.head()
#clean_df.info()

In [ ]:
clean_df.columns

In [ ]:
sbs.set()
\
# 'NEIGHBORHOOD','BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT', 'BLOCK', 'BUILDING CLASS AT PRESENT',  'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', , 'SALE DATE'

# 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',        1 'GROSS SQUARE FEET', 
cols = ['BOROUGH', 'YEAR BUILT', 'SALE PRICE_IN_M', 'SALE_MONTH']
sbs.pairplot(clean_df[cols],)
plt.show();

In [ ]:
clean_df['SALE_PRICE_IN_M'].groupby(clean_df['BOROUGH_NAME']).count().plot.bar()
plt.title("Borough by property's sales amount")

In [ ]:
clean_df['SALE_PRICE_IN_M'].groupby(clean_df['BOROUGH_NAME']).mean().plot.bar()
plt.title("Borough by property's average price (in M)")

In [ ]:
manhattan_sales = clean_df[clean_df['BOROUGH_NAME'] == 'Manhattan']
manhattan_sales['SALE_PRICE_IN_M'].groupby(manhattan_sales['NEIGHBORHOOD']).mean().plot.bar()
plt.title("Properties avg price($M) in Manhattan ")

In [ ]:
avg_price = manhattan_sales[['SALE_PRICE_IN_M']].groupby(manhattan_sales['NEIGHBORHOOD']).mean()
avg_price = avg_price.sort_values(by='SALE_PRICE_IN_M', ascending=False)
top_avg_price = avg_price.head(5)
top_avg_price